<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
		<key>day</key>
		<integer>15</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 12:49-13:30</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>16</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 13:31-14:35</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>17</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 15:1-32</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>18</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 16:1-31</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>19</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 17:1-37</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>20</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 18:1-43</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>21</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 19:1-48</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>22</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 20:1-47</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>23</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 21:1-38</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>24</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 22:1-46</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>25</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 22:47-71</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>26</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 23:1-56</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>27</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 24:1-53</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>28</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 1:1-26</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>29</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 2:1-47</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>30</integer>
		<key>month</key>
		<integer>11</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 3:1-4:37</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>1</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 5:1-42</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>2</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 6:1-7:43</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>3</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 7:44-8:40</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>4</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 9:1-43</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>5</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 10:1-48</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>6</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 11:1-12:25</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>7</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 13:1-52</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>8</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 14:1-15:21</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>9</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 15:22-16:24</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>10</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 16:25-17:34</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>11</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 18:1-28</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>12</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 19:1-41</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>13</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 20:1-38</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>14</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 21:1-40</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>15</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 22:1-23:11</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>16</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 23:12-24:27</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>17</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 25:1-26:32</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>18</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 27:1-44</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>19</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Acts 28:1-31</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>20</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Ephesians 1:1-2:22</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>21</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Ephesians 3:1-4:32</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>22</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Ephesians 5:1-6:24</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>23</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 1</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>24</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Luke 2</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>25</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>Matthew 1:18-25, John 1:1-18</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>26</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>2nd Corinthians 1:1-2:17</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>27</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>2nd Corinthians 3:1-5:11</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>28</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>2nd Corinthians 5:12-7:16</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>29</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>2nd Corinthians 8:1-9:15</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>30</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>2nd Corinthians 10:1-11:33</string>
	</dict>
  <dict>
		<key>day</key>
		<integer>31</integer>
		<key>month</key>
		<integer>12</integer>
		<key>year</key>
		<integer>2011</integer>
		<key>reference</key>
		<string>2nd Corinthians 12:1-13:14</string>
	</dict>
</array>
</plist>